<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title text-center="">
      Feed
    </ion-title>

  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar color="light" showCancelButton="focus" (keypress)="busquedaNews($event)" mode="ios"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content color="dark">
  <ion-refresher class="backgroundRefresher" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-noticias [news]="news"></app-noticias>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
