<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title text-center="">
      Feed
    </ion-title>
  </ion-toolbar>
  <ion-searchbar mode="ios" color="light"></ion-searchbar>
</ion-header>

<ion-content color="dark">
  <app-noticias [news]="news"></app-noticias>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
