<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title text-center="">
      Search
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable="" mode="md" color="primary" (ionChange)="categoryChange($event)">
    <ion-segment-button *ngFor="let category of categories" mode="md" [value]="category">
      <ion-label>{{category}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content color="dark">
  <app-noticias [news]="news"></app-noticias>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
